body{
    height: 100%;
    background-color:#000000;
  }

.CollapseMenu{
  width: 100%;
  height: 10vh;
  text-align: center;
  color: white;
}

.active, .Collapsible:hover{
  background-color: #ccc;
}
