body{
    height: 100%;
    background-color:#000000;
  }

.objectName{
  width: 100vw;
  height: 10%;
  text-align: center;
  color: white;
  background-color: black;
  z-index: 1;
  position: absolute;
  bottom:0px;
  left: 0px;
  right: 0px;
}

.nextButton{
  width: 0;
  height: 0;
  z-index: 2;
  color: white;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 50vh;
  border-top: 25px solid transparent;
  border-left: 50px solid #ffffff;
  border-bottom: 25px solid transparent;

}
.prevButton{
  width: 0;
  height: 0;
  z-index: 2;
  color: white;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  top: 50vh;
  border-top: 25px solid transparent;
  border-right: 50px solid #ffffff;
  border-bottom: 25px solid transparent;
}

.ObjectName{
  text-align: center;
  color: #ffffff;
  width: 100vw;
  height: 10vh;
  z-index: 1;
  position: absolute;
  bottom: 0px;
}

.active, .Collapsible:hover{
  background-color: #ccc;
}
